@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contacts-list {
    @apply pt-3 text-sm hover:cursor-pointer hover:underline text-white font-inter text-[14px] font-medium leading-[16.94px];
  }
}

@layer base {
  @font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(src/assets/fonts/futurab.ttf) format("truetype");
  }

  @font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(src/assets/fonts/futurabc.ttf) format("truetype");
  }

  @font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 400;
    font-stretch: condensed;
    font-display: swap;
    src: url(src/assets/fonts/futural.ttf) format("truetype");
  }

  @font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 700;
    font-stretch: condensed;
    font-display: swap;
    src: url(src/assets/fonts/futuralc.ttf) format("truetype");
  }
}
